/* =======================
   Page Container
======================= */
.appointment {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* =======================
   Form Section
======================= */
.appointment-content {
    flex: 1;
    padding: 40px 20px;

}

.appointment-content h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #111f42;
}


.appointment-form {
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 15px;
}


.appointment-form label {
    font-size: 16px;
    color: #111f42;
    font-weight: 600;
}

.appointment-form input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.appointment-form select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.appointment-form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #d37749;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.end-container {
    background-color: #111f42;
    color: #ffffff;
    margin-top: 40px;
}