.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.middle-area h2{
    text-align: center;
    font-size: 28px;

}

.middle-area p{
    font-size: 18px;
    margin: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}


.about-middle-left{
    margin-left: 20px;
    margin-right: 550px;
}


.about-middle-right img{
    height: 300px;
    width: 300px;
    margin-left: 1000px;
    
}



.end-container {
    background-color: #111f42;
    color: #ffffff;
    margin-top: 40px;
}

