/* =======================
   Page Layout
======================= */
.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* =======================
   Contact Form
======================= */
.form-data {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background: #f8fafc;
    padding: 25px;
    border-radius: 8px;
    font-size: 17px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-data form {
    display: flex;
    flex-direction: column;
}

.form-data label {
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
}

.form-data input {
    margin-top: 5px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    outline: none;
}

.query{
    margin-top: 5px;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    outline: none;
    display: inline;
    flex-direction: row;
}


.form-data input:focus {
    border-color: #38bdf8;
}

/* =======================
   Submit Button
======================= */
.submit {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(102, 180, 102);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: #2e76d4;
}

/* =======================
   Footer
======================= */
.end-container {
    background-color: #111f42;
    color: white;
    margin-top: auto;
}
